<head>
    <title>GCI 2010 (Unofficial) Leaderboards</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css" />
    <script src="/static/js/jquery-1.11.3.min.js" /></script>
    <script src="/static/js/bootstrap.min.js" /></script>
    <style>
        .content {
            margin-top: 1%;
            margin-left: 2%;
            margin-right: 2%;
        }

        #orgs * {
            margin: 5px;
        }

        img {
            border: 2.5px solid #ddd;
        }

        img:hover:not(.opaque) {
            border: 4px solid gray;
            cursor: pointer;
        }

        .opaque {
            opacity: 0.4;
        }
    </style>
</head>

<body>

    <div class="content">
        <ol class="breadcrumb">
            <li><a href="/">All leaderboards</a></li>
            <li class="active">2010</li>
        </ol>
        <div style="margin-top: -1%;" class="page-header">
            <h1>GCI 2010 <br> <small>(Unofficial) Leaderboards </small></h1>
        </div>
        <div id="orgs" style="margin-top: -1%;">
            <a href="/2010/org/apertium">/apertium</a><br>
            <a href="/2010/org/debian">/debian</a><br>
            <a href="/2010/org/dragonflybsd">/dragonflybsd</a><br>
            <a href="/2010/org/drupal">/drupal</a><br>
            <a href="/2010/org/gnome">/gnome</a><br>
            <a href="/2010/org/haiku">/haiku</a><br>
            <a href="/2010/org/kde">/kde</a><br>
            <a href="/2010/org/limesurvey">/limesurvey</a><br>
            <a href="/2010/org/moinmoin">/moinmoin</a><br>
            <a href="/2010/org/mono">/mono</a><br>
            <a href="/2010/org/osuosl">/osuosl</a><br>
            <a href="/2010/org/parrot_perl_foundations">/parrot_perl_foundations</a><br>
            <a href="/2010/org/plone">/plone</a><br>
            <a href="/2010/org/rtems">/rtems</a><br>
            <a href="/2010/org/ssf">/ssf</a><br>
            <a href="/2010/org/tux4kids">/tux4kids</a><br>
            <a href="/2010/org/videolan">/videolan</a><br>
            <a href="/2010/org/wesnoth">/wesnoth</a><br>
            <a href="/2010/org/wordpress">/wordpress</a><br>
            <a href="/2010/org/worldforge">/worldforge</a><br>
        </div>
    </div>
</body>
