<head>
    <title>GCI 2010 (Unofficial) Leaderboards</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css" />
    <script src="/static/js/jquery-1.11.3.min.js" /></script>
    <script src="/static/js/bootstrap.min.js" /></script>
    <style>
        .content {
            margin-top: 1%;
            margin-left: 2%;
            margin-right: 2%;
        }

        #orgs * {
            margin: 5px;
        }

        img {
            border: 2.5px solid #ddd;
        }

        img:hover:not(.opaque) {
            border: 4px solid gray;
            cursor: pointer;
        }

        .opaque {
            opacity: 0.4;
        }
    </style>
</head>

<body>

    <div class="content">
        <ol class="breadcrumb">
            <li><a href="/">All leaderboards</a></li>
            <li class="active">2010</li>
        </ol>
        <div style="margin-top: -1%;" class="page-header">
            <h1>GCI 2010 <br> <small>(Unofficial) Leaderboards </small></h1>
        </div>
        <div id="orgs">
            <a href="/2015/org/apertium"><img src="/static/img/apertium.png" width="140" class="img-rounded">
            </a>
            <a href="/2015/org/drupal"><img src="/static/img/drupal.png" width="140" class="img-rounded">
            </a>
            <a href="/2015/org/fossasia"><img src="/static/img/fossasia.png" width="140" class="img-rounded">
            </a>
            <a href="/2015/org/haiku"><img src="/static/img/haiku.png" width="140" class="img-rounded">
            </a>
            <a href="/2015/org/rtems"><img src="/static/img/rtems.png" width="140" class="img-rounded">
            </a>
            <a href="/2015/org/sugarlabs"><img src="/static/img/sugarlabs.png" width="140" class="img-rounded">
            </a>
            <a href="/2015/org/ubuntu"><img src="/static/img/ubuntu.png" width="140" class="img-rounded">
            </a>
            </span>
        </div>
    </div>
</body>
