<head>
    <title>GCI 2011 (Unofficial) Leaderboards</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css" />
    <script src="/static/js/jquery-1.11.3.min.js" /></script>
    <script src="/static/js/bootstrap.min.js" /></script>
    <style>
        .content {
            margin-top: 1%;
            margin-left: 2%;
            margin-right: 2%;
        }

        #orgs * {
            margin: 5px;
        }

        img {
            border: 2.5px solid #ddd;
        }

        img:hover:not(.opaque) {
            border: 4px solid gray;
            cursor: pointer;
        }

        .opaque {
            opacity: 0.4;
        }
    </style>
</head>

<body>

    <div class="content">
        <ol class="breadcrumb">
            <li><a href="/">All leaderboards</a></li>
            <li class="active">2011</li>
        </ol>
        <div style="margin-top: -1%;" class="page-header">
            <h1>GCI 2011 <br> <small>(Unofficial) Leaderboards </small></h1>
        </div>
        <div id="orgs" style="margin-top: -1%;">
            <a href="/2011/org/apertium">/apertium</a><br>
            <a href="/2011/org/freebsd">/freebsd</a><br>
            <a href="/2011/org/gnome">/gnome</a><br>
            <a href="/2011/org/haiku">/haiku</a><br>
            <a href="/2011/org/hedgewars">/hedgewars</a><br>
            <a href="/2011/org/kde">/kde</a><br>
            <a href="/2011/org/limesurvey">/limesurvey</a><br>
            <a href="/2011/org/moinmoin">/moinmoin</a><br>
            <a href="/2011/org/openintents">/openintents</a><br>
            <a href="/2011/org/opensuse">/opensuse</a><br>
            <a href="/2011/org/parrot">/parrot</a><br>
            <a href="/2011/org/pysoy">/pysoy</a><br>
            <a href="/2011/org/rtems">/rtems</a><br>
            <a href="/2011/org/sahana">/sahana</a><br>
            <a href="/2011/org/sympy">/sympy</a><br>
            <a href="/2011/org/tpf">/tpf</a><br>
            <a href="/2011/org/tux4kids">/tux4kids</a><br>
            <a href="/2011/org/videolan">/videolan</a><br>
        </div>
    </div>
</body>
