<head>
    <title>GCI (Unofficial) Leaderboards</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css" />
    <script src="/static/js/jquery-1.11.3.min.js" /></script>
    <script src="/static/js/bootstrap.min.js" /></script>
    <style>
        #orgs * {
            margin: 5px;
        }

        img {
            border: 2.5px solid #ddd;
        }

        img:hover:not(.opaque) {
            border: 5px solid #ddd;
            cursor: pointer;
        }

        .opaque {
            opacity: 0.3;
        }
    </style>
</head>

<body>
    <center>
        <h1> GCI (Unofficial) Leaderboards </h1>
        <div id="orgs">
            <a href="/org/apertium"><img src="/static/img/apertium.png" width="140" class="img-rounded"></a>
            <img src="/static/img/copyleft.png" width="140" class="img-rounded opaque">
            <a href="/org/drupal"><img src="/static/img/drupal.png" width="140" class="img-rounded"></a>
            <a href="/org/fossasia"><img src="/static/img/fossasia.png" width="140" class="img-rounded"></a>
            <img src="/static/img/haiku.png" width="140" class="img-rounded opaque">
            <br>
            <img src="/static/img/kde.png" width="140" class="img-rounded opaque">
            <img src="/static/img/metabrainz.png" width="140" class="img-rounded opaque">
            <img src="/static/img/openmrs.png" width="140" class="img-rounded opaque">
            <img src="/static/img/rtems.png" width="140" class="img-rounded opaque">
            <img src="/static/img/score.png" width="140" class="img-rounded opaque">
            <br>
            <a href="/org/sugarlabs"><img src="/static/img/sugarlabs.png" width="140" class="img-rounded"></a>
            <img src="/static/img/systers.png" width="140" class="img-rounded opaque">
            <a href="/org/ubuntu"><img src="/static/img/ubuntu.png" width="140" class="img-rounded"></a>
            <img src="/static/img/wikimedia.png" width="140" class="img-rounded opaque">
            </span>
        </div>
</body>
